.natureza-section{
    display: flex;
    gap: 2rem;
}

/* textos */

.nature-text h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-brown);
    font-family: var(--font-display);
}

.nature-text p{
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    max-width: 900px;
}

/* imagens */

.natureza-img-list{
    width: 300px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.natureza-img{
    cursor: pointer;
}

.natureza-img img{
    width: 900px;
}

.natureza-img-list span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--background-green);
    color: var(--color-white);
}

/* scrollbar */

.natureza-img-list::-webkit-scrollbar{
    width: 10px;
}

.natureza-img-list::-webkit-scrollbar-thumb{
    background-color: #75d2a8;
    border-left: 2px solid #d8d8d8;
    border-right: 2px solid #d8d8d8;
    border-radius: 2px;
}

.js-conteudo section{
    display: none;
}

.js-conteudo section.active{
    display: block;
    animation: show 0.5s forwards;
}