@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(./css/global.css);
@import url(./css/menu.css);
@import url(./css/home.css);
@import url(./css/faq.css);
@import url(./css/contato.css);
@import url(./css/footer.css);